<style>
    .campoErro {
        border-color: red;
    }
</style>

<script src="/js/Avaliacoes/alterar.js"></script>

<h1>Alterar avaliação de ID <p id="avaId"><%= avaliacao[0].ava_id %></p></h1>

<div>
    <div class="alert alert-danger" role="alert" id="erros" style="display:none">

    </div>
    <div class="alert alert-success" role="alert" id="alertaSucesso" style="display:none;" >
        
    </div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="selectCpf">Assinante avaliado:</label>
            <select name="selectCpf" id="selectCpf" class="form-control">
              <option value="0" disabled>Selecione</option>
              <% for(let i = 0; i < listaAssinantes.length; i++) { %>
                <% if(listaAssinantes[i].ass_cpf == avaliacao[0].ass_cpf) { %>
                  <option value="<%= listaAssinantes[i].ass_cpf %>" selected><%= listaAssinantes[i].ass_nome %></option>
                <% } else { %>
                  <option value="<%= listaAssinantes[i].ass_cpf %>"><%= listaAssinantes[i].ass_nome %></option>
                <% } %>
              <% } %>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputData">Data:</label>
            <input type="date" class="form-control" id="inputData" value="<%= avaliacao[0].ava_data %>">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPdf">Documento PDF:</label>
            <input type="checkbox" id="checkbox"><label for="checkbox">Manter?</label>
            <input type="file" class="form-control" id="inputPdf" accept="application/pdf">
          </div>
        </div>
        <br><br>
        <button type="button" id="btnAlterar" class="btn btn-primary">Alterar</button>
    </form>
</div>